.Solutions {
    padding-top: 103px;
    background: #1A191A;
    color: #fff;
    .header {
        margin: 0 auto 80px;
        width: 785px;
        font-size: 45px;
        font-family: o9Sans Helvetica-Light, Helvetica;
        font-weight: 300;
        color: #acacac;
        line-height: 56px;
        > span {
            color: #fff;
        }
    }
}