.DemandPlanning {
  padding-bottom: 100px;
  .section_09 {
    padding: 150px 90px;
    .RelatedSolutions_1 {
        &:hover {
            > div:first-child {
                background: url(../../../assets/image/red_1@2x.png) no-repeat center;
                background-size: 100%;
            }
        }
        > div:first-child {
            background: url(../../../assets/image/DemandPlanning_hover_2@2x.png) no-repeat center;
            background-size: 100%;
        }
    }
    .RelatedSolutions_2 {
        &:hover {
            > div:first-child {
                background: url(../../../assets/image/red_2@2x.png) no-repeat center;
                background-size: 100%;
            }
        }
        > div:first-child {
            background: url(../../../assets/image/DemandPlanning_hover_3@2x.png) no-repeat center;
            background-size: 100%;
        }
    }
    .RelatedSolutions_3 {
        &:hover {
            > div:first-child {
                background: url(../../../assets/image/red_3@2x.png) no-repeat center;
                background-size: 100%;
            }
        }
        > div:first-child {
            background: url(../../../assets/image/DemandPlanning_hover_6@2x.png) no-repeat center;
            background-size: 100%;
        }
    }
    .RelatedSolutions_4 {
        &:hover {
            > div:first-child {
                background: url(../../../assets/image/red_4@2x.png) no-repeat center;
                background-size: 100%;
            }
        }
        > div:first-child {
            background: url(../../../assets/image/DemandPlanning_hover_4@2x.png) no-repeat center;
            background-size: 100%;
        }
    }
  }
  .RelatedSolutions_5 {
      &:hover {
          > div:first-child {
              background: url(../../../assets/image/red_5@2x.png) no-repeat center;
              background-size: 100%;
          }
      }
      > div:first-child {
          background: url(../../../assets/image/DemandPlanning_hover_5@2x.png) no-repeat center;
          background-size: 100%;
      }
  }
  .RelatedSolutions_6 {
      &:hover {
          > div:first-child {
              background: url(../../../assets/image/red_6@2x.png) no-repeat center;
              background-size: 100%;
          }
      }
      > div:first-child {
          background: url(../../../assets/image/DemandPlanning_hover_1@2x.png) no-repeat center;
          background-size: 100%;
      }
  }
}
