.MasterPlanning {
    padding-bottom: 100px;
    .section_01 {
      padding: 150px 90px;
      .bg_1 {
        top: -50px;
      }
    }
    .section_03 {
      padding: 150px 90px 415px;
    }
    .section_02 {
      padding: 0 90px 140px;
      .bg_2 {
        padding: 15px;
        border-radius: 10px;
        max-width: 1000px !important;
        transform: translateY(-50%);
        background-color: #000;
        border: 1px solid #fff;
      }
    }
    .section_09 {
      padding: 150px 90px;
      .RelatedSolutions_1 {
          &:hover {
              > div:first-child {
                  background: url(../../../assets/image/Purple_1@2x.png) no-repeat center;
                  background-size: 100%;
              }
          }
          > div:first-child {
              background: url(../../../assets/image/SupplyChainControlTower_Purple_1@2x.png) no-repeat center;
              background-size: 100%;
          }
      }
      .RelatedSolutions_2 {
          &:hover {
              > div:first-child {
                  background: url(../../../assets/image/Purple_2@2x.png) no-repeat center;
                  background-size: 100%;
              }
          }
          > div:first-child {
              background: url(../../../assets/image/SupplyChainControlTower_Purple_2@2x.png) no-repeat center;
              background-size: 100%;
          }
      }
      .RelatedSolutions_3 {
          &:hover {
              > div:first-child {
                  background: url(../../../assets/image/Purple_3@2x.png) no-repeat center;
                  background-size: 100%;
              }
          }
          > div:first-child {
              background: url(../../../assets/image/SupplyChainControlTower_Purple_3@2x.png) no-repeat center;
              background-size: 100%;
          }
      }
      .RelatedSolutions_4 {
          &:hover {
              > div:first-child {
                  background: url(../../../assets/image/Purple_4@2x.png) no-repeat center;
                  background-size: 100%;
              }
          }
          > div:first-child {
              background: url(../../../assets/image/SupplyChainControlTower_Purple_4@2x.png) no-repeat center;
              background-size: 100%;
          }
      }
    }
  }
  