.SupplyChainControlTower {
  @keyframes AllrelatedresourcesMoveOut {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes AllrelatedresourcesMoveIn {
      0% {
          transform: translateX(0);
      }
      100% {
          transform: translateX(100%);
      }
    }
  .section_03 {
    padding: 55px 90px;
    > div {
      padding: 55px;
    }
    .Resources {
      > div {
        &:first-child {
          width: 21%;
          margin-right: 55px;
        }
      }
      .ResourceBtn {
        padding: 8px 20px;
        background-color: #414141;
        transition: all 0.3s ease;
        &:hover {
          padding-left: 30px;
          background-color: blue;
        }
      }
    }
    .Allrelatedresources {
      position: relative;
      padding-bottom: 4px;
      overflow: hidden;
      &:hover {
        &::after {
            animation-name: AllrelatedresourcesMoveIn !important;
            transform: translateX(100%);
        }
      }
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        transition: all .3s;
        height: 1px;
        background-color: #fff;
        animation-duration: .3s;
        animation-name: AllrelatedresourcesMoveOut;
        animation-iteration-count: 1;
        animation-direction: alternate;
      }
    }
  }
  .section_09 {
    padding: 150px 90px;
    .RelatedSolutions_1 {
        &:hover {
            > div:first-child {
                background: url(../../../assets/image/Purple_1@2x.png) no-repeat center;
                background-size: 100%;
            }
        }
        > div:first-child {
            background: url(../../../assets/image/SupplyChainControlTower_Purple_1@2x.png) no-repeat center;
            background-size: 100%;
        }
    }
    .RelatedSolutions_2 {
        &:hover {
            > div:first-child {
                background: url(../../../assets/image/Purple_2@2x.png) no-repeat center;
                background-size: 100%;
            }
        }
        > div:first-child {
            background: url(../../../assets/image/SupplyChainControlTower_Purple_2@2x.png) no-repeat center;
            background-size: 100%;
        }
    }
    .RelatedSolutions_3 {
        &:hover {
            > div:first-child {
                background: url(../../../assets/image/Purple_3@2x.png) no-repeat center;
                background-size: 100%;
            }
        }
        > div:first-child {
            background: url(../../../assets/image/SupplyChainControlTower_Purple_3@2x.png) no-repeat center;
            background-size: 100%;
        }
    }
    .RelatedSolutions_4 {
        &:hover {
            > div:first-child {
                background: url(../../../assets/image/Purple_4@2x.png) no-repeat center;
                background-size: 100%;
            }
        }
        > div:first-child {
            background: url(../../../assets/image/SupplyChainControlTower_Purple_4@2x.png) no-repeat center;
            background-size: 100%;
        }
    }
  }
}
