@keyframes AllrelatedresourcesMoveOut {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes AllrelatedresourcesMoveIn {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(100%);
    }
  }

.SupplyChainControlTower {
  padding: 35px 0 100px;
  .headerTitle_1 {
    max-width: 900px;
    margin-top: 180px;
  }
  .dividon_01 {
    border-color: #616161;
  }
  .section_01 {
    padding-bottom: 415px;
    .bg_1 {
      top: -50px;
      background-color: red;
    }
  }
  .section_02 {
    padding: 385px 90px 140px;
    background-color: #eaeaea;
    .dividon_02 {
      border-color: rgba(0, 0, 0, 0.12);
    }
    .bg_2 {
      padding: 15px;
      border-radius: 10px;
      width: 1000px;
      top: -256px;
      left: 50%;
      transform: translateX(-50%);
      background-color: #000;
      border: 1px solid #fff;
    }
  }
  .section_03 {
    padding: 55px 90px;
    > div {
      padding: 55px;
    }
    .Resources {
      > div {
        &:first-child {
          width: 21%;
          margin-right: 55px;
        }
      }
      .ResourceBtn {
        padding: 8px 20px;
        background-color: #414141;
        transition: all 0.3s ease;
        &:hover {
          padding-left: 30px;
          background-color: blue;
        }
      }
    }
    .Allrelatedresources {
      position: relative;
      padding-bottom: 4px;
      overflow: hidden;
      &:hover {
        &::after {
            animation-name: AllrelatedresourcesMoveIn !important;
            transform: translateX(100%);
        }
      }
      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        transition: all .3s;
        height: 1px;
        background-color: #fff;
        animation-duration: .3s;
        animation-name: AllrelatedresourcesMoveOut;
        animation-iteration-count: 1;
        animation-direction: alternate;
      }
    }
  }
  .section_04 {
    padding: 88px 90px 130px;
  }
  .section_05 {
    padding: 150px 90px;
  }
  .section_06 {
    padding: 150px 90px 50px;
    background: linear-gradient(to bottom,rgba(0,0,0,0.01) 0%,#000000 100%);
    opacity: 1;
    .using-image {
        z-index: -1;
        width: 100%;
        height: 100%;
        filter: grayscale(1);
    }
    .section_06_bg {
        width: 100%;
        height: 100%;
        background: url(../../../assets/image/SupplyChainControlTower_UseCases_bg@2x.png) no-repeat center;
        background-size: cover;
        will-change: transform;
        transform: translate3d(0px, 0px, 0px) scale(1.005);
    }
  }
  .section_07 {
    padding: 150px 90px;
  }
  .section_08 {
    padding: 100px 90px 75px;
    .inputPhont {
        .ant-input {
            padding-top: 15px !important;
            padding-bottom: 15px !important;
        }
    }
  }
  .section_09 {
    padding: 150px 90px;
    .RelatedSolutions_1 {
        &:hover {
            > div:first-child {
                background: url(../../../assets/image/Purple_1@2x.png) no-repeat center;
                background-size: 100%;
            }
        }
        > div:first-child {
            background: url(../../../assets/image/SupplyChainControlTower_Purple_1@2x.png) no-repeat center;
            background-size: 100%;
        }
    }
    .RelatedSolutions_2 {
        &:hover {
            > div:first-child {
                background: url(../../../assets/image/Purple_2@2x.png) no-repeat center;
                background-size: 100%;
            }
        }
        > div:first-child {
            background: url(../../../assets/image/SupplyChainControlTower_Purple_2@2x.png) no-repeat center;
            background-size: 100%;
        }
    }
    .RelatedSolutions_3 {
        &:hover {
            > div:first-child {
                background: url(../../../assets/image/Purple_3@2x.png) no-repeat center;
                background-size: 100%;
            }
        }
        > div:first-child {
            background: url(../../../assets/image/SupplyChainControlTower_Purple_3@2x.png) no-repeat center;
            background-size: 100%;
        }
    }
    .RelatedSolutions_4 {
        &:hover {
            > div:first-child {
                background: url(../../../assets/image/Purple_4@2x.png) no-repeat center;
                background-size: 100%;
            }
        }
        > div:first-child {
            background: url(../../../assets/image/SupplyChainControlTower_Purple_4@2x.png) no-repeat center;
            background-size: 100%;
        }
    }
  }
}
